{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Road Ruler</title>
    <link rel="icon" href="static/css/images/browser road ruler logo.svg">
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
    <link rel="stylesheet" href="{% static 'css/leaflet-routing-machine.css' %}" />
    <script src="{% static 'js/leaflet.js' %}"></script>
    <script src="{% static 'js/leaflet-routing-machine.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/L.Control.Locate.min.css' %}" />
    <script src="{% static 'js/L.Control.Locate.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />
    <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/Control.Geocoder.css' %}" />
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="{% static 'js/plotly-2.12.1.min.js' %}"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!-- Embed Fonts: Open Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/integrate.css' %}" />
</head>
<body>
    <div id='map' style='width: 100vw; height: 100vh;'></div>
    <img src="static/css/images/Road Ruler Logo.svg" class="road-ruler-logo"> 
    
    <div id='facility' class="map-layer-container">
        <div class="map-layer map-layer-inactive" id='cctv' data-clicked='false' onclick='getCctv();'><img class="map-layer-icon" src="static/css/images/videocam.svg">道路即時畫面</div>
        <div class="map-layer map-layer-inactive" id='livevd' data-clicked='false' onclick='getLivevd();'><img class="map-layer-icon" src="static/css/images/traffic.svg">路況壅塞程度</div>
        <div class="map-layer map-layer-inactive" id='parkinglot' data-clicked='false' onclick='getParking();'><img class="map-layer-icon" src="static/css/images/parking.svg">停車場資訊</div>
        <div class="map-layer map-layer-inactive" id='construction' data-clicked='false' onclick='getConstruction();'><img class="map-layer-icon" src="static/css/images/construction.svg">道路施工</div>
    </div>

    <div style="display: flex; justify-content: right;">
        <div class='openbtn' onclick='openNav();'><img class="map-layer-icon" src="static/css/images/alert.svg"></div>
    </div>
    <div id="mySidebar" class="sidebar">
        <a class="closebtn" onclick="closeNav()">&times;</a>
    </div>

    <div style="display: flex; justify-content: center;">
        <div class="map-legend-container" id="map-legend-container" style="display: none">
            <div class="map-legend-text">順暢</div>
            <div style="background-color: rgb(98, 213, 104, 0.7); width: 14px; height: 14px; margin: 0 3px"></div>
            <div style="background-color: rgb(255, 151, 77, 0.7); width: 14px; height: 14px; margin: 0 3px"></div>
            <div style="background-color: rgb(242, 60, 50, 0.7); width: 14px; height: 14px; margin: 0 3px"></div>
            <div style="background-color: rgb(129, 31, 31, 0.7); width: 14px; height: 14px; margin: 0 3px"></div>
        <div class="map-legend-text">壅塞</div>
    </div>
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>