

.option {
    cursor: pointer;
    margin: 0 1rem 0 0;
    border-radius: 0.75rem;
    background-color: #012a5fbc;
    color: white;
    font-size: 1rem;
    height: 1.5rem;
    padding: 2px 10px;
    transition: background-color 0.25;
    border: 3px solid transparent;
    font-family: sans-serif;
}
.option:hover {
    background-color: #345a8c;
    border: 3px solid #012a5f;
}

@media (max-width: 800px) {
    #map {
        width: 100%;
        margin-left: 0;
    }
}

#histogram {
    position: relative;
    background: white;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    border-radius:30px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px #333;
   
}

.day-select-container {
    z-index: 1001;
    position: absolute;
    top: 65px;
    right: 10px;
}

#day-select {
    width: 115px;
    padding: 5px 8px;
    border-radius: 8px;
}

.parking-info {
    text-align: center;
    position: relative;
    top: 90px;
    z-index: 1000;
}
.parking-name {
    font-size: 2rem;
    font-weight: 800;
}
.total-parking, .left-parking {
    font-size: 1.5rem;
}

.time-zone-parkgin {
    margin: 10px 30px 0px;
    padding-top: 10px;
    border-top: 2px dashed #3333;
    font-size: 1.75rem;
}

